{
    "plugins": [
        "transform-class-properties",
        "transform-decorators-legacy",
        "transform-object-rest-spread",
        "react-require",
        [
            "import",
            {
                "libraryName": "antd",
                "libraryDirectory": "es",
                "style": "css"
            }
        ],
        [
            "react-transform",
            {
                "transforms": [
                    {
                        "transform": "react-transform-hmr",
                        "imports": ["react"],
                        "locals": ["module"]
                    }
                ]
            }
        ],
        [
            "transform-runtime",
            {
                "polyfill": false,
                "regenerator": true
            }
        ]
    ],
    "presets": [
        "env",
        "react"
    ]
}
